* {
    /* padding: 0;
    margin: 0; */

}

body {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*My Grid Styles*/
.row {
    width: 100%;
}

.col {
    border: 1px solid;
}

.menu-item {
    position: relative;
}

.menu-content {
    padding: 0 20px;

}

.menu-title {
    position: absolute;
    right: 0;
    border: 1px solid black;
    margin: 0;
}

/* .col-sm-12 {
    width: 100%;
} */