* {
    box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

.menu-item {
    margin-bottom: 20px;
    border: 1px solid black;
}

.menu-item p {
    padding: 0 20px;
    font-weight: light;
    color: dimgray;

}

.menu-header {
    position: relative;
    padding-bottom: 30px;
}

h4.menu-title {
    position: absolute;
    right: 0;
    border: 1px solid black;
    margin: 0;
    width: 25%;
    min-width: 100px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.25em;

}

.menu-column:nth-child(1) .menu-item {
    background-color: ivory;
}

.menu-column:nth-child(2) .menu-item {
    background-color: azure;
}

.menu-column:nth-child(3) .menu-item {
    background-color: lavenderblush;
}

.menu-column:nth-child(1) .menu-title {
    background-color: yellow;
}

.menu-column:nth-child(2) .menu-title {
    background-color: aqua;
}

.menu-column:nth-child(3) .menu-title {
    background-color: magenta;
}

/* My grid styles */
.menu-column {
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
}

.container {
    width: 100%;
    padding: 0 15px;
}

/*Media Queries*/
/* For Tablets and other Medium Devices */
@media ((min-width:768px) and (max-width:991px)) {

    .col-md-6 {
        width: 50%;
        float: left;
    }

    .col-md-12 {
        width: 100%;
        clear: left;
    }

    .menu-column:nth-child(3) .menu-title {
        width: 12.5%;
    }
}

/* For laptops and other large devices */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}