body {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

/*My Grid Styles*/
.row {
    width: 100%;
}

.col {
    border: 1px solid;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-content {
    padding: 0 20px;
    font-weight: 100;

}

.menu-header {
    position: relative;
    padding-bottom: 30px;
}

.menu-title {
    position: absolute;
    right: 0;
    border: 1px solid black;
    margin: 0;
    width: 25%;
    min-width: 100px;
    padding: 5px 10px;
    text-align: center;
}

.menu-item:nth-child(1) {
    background-color: ivory;
}

.menu-item:nth-child(2) {
    background-color: azure;
}

.menu-item:nth-child(3) {
    background-color: lavenderblush;
}

.menu-item:nth-child(1) .menu-title {
    background-color: yellow;
}

.menu-item:nth-child(2) .menu-title {
    background-color: aqua;
}

.menu-item:nth-child(3) .menu-title {
    background-color: magenta;
    color: white;
}